
 table
 {
     border-collapse: collapse;
     margin: 0 auto;
     text-align: center;
     line-height: 60px;
 }
 table td, table th
 {
     border: 1px solid #cad9ea;
     color: #666;
     height: 30px;
 }
 table thead th
 {
     background-color: #CCE8EB;
     width: 100px;
 }
 table tr:nth-child(odd)
 {
     background: #fff;
 }
 table tr:nth-child(even)
 {
     background: #F5FAFA;
 }
body {
    background-color: rgb(217, 245, 245);
}